<div class="number-btn">
    <button (click)="onClick(7)" class="number-btn_number">7</button>
    <button (click)="onClick(8)" class="number-btn_number">8</button>
    <button (click)="onClick(9)" class="number-btn_number">9</button>
    <button (click)="onClick(4)" class="number-btn_number">4</button>
    <button (click)="onClick(5)" class="number-btn_number">5</button>
    <button (click)="onClick(6)" class="number-btn_number">6</button>
    <button (click)="onClick(1)" class="number-btn_number">1</button>
    <button (click)="onClick(2)" class="number-btn_number">2</button>
    <button (click)="onClick(3)" class="number-btn_number">3</button>
    <button (click)="onClick(0)" id="zero" class="number-btn_number">0</button>
    <ng-content></ng-content>
</div>
